/* footer  */

.footer {
    @include fadeInAnimation(1s, 0s);
    box-shadow: 0px 0px 3px 0px #000000;
    display: flex;
    justify-content: center;
    min-height: 200px;
    background-color: #242425;
}

#footer__edge {
    margin-top: 60px;
    position: absolute;
    display: flex;
    width: 50%;
    height: 1px;
    background-color: #006aff;
}

#footer__author {
    font-size: 12px;
}

#footer__logo {
    align-self: center;
    height: 25px;
    transition: 0.2s;
}

#footer__logo:hover {
    transition: 0.2s;
    transform: scale(1.2);
}
