

/* desktop left aligned text container */
@media (min-width : 1200px) {

    .leftAligned__text h2 {
        @include fadeInAnimation(3s, 0s);
        margin-top: 50px;
        margin-left: 60px;
        font-size: 48px;
    }

}

/* mobile left aligned text container */
@media (max-width : 1200px) {

    .leftAligned__text {
        @include fadeInAnimation(3s, 0s);
        justify-content: center;
        display: flex;
    }

    .leftAligned__text h2 {

        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 48px;
    }

}