/* about me page CSS */
.about__grid {
    @include fadeInAnimation(1s, 0s);
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* desktop about  grid*/
@media (min-width : 1200px) {

    .about__grid {
        @include fadeInAnimation(1s, 0s);
        img {
            object-fit: contain;
            border-radius: 30%;
            width: 400px;
            height: 300px;
            transition: 0.2s;
        }
    }
}

/* mobile about  grid*/
@media (max-width : 1200px) {

    .about__grid {
        @include fadeInAnimation(1s, 0s);
        gap: 30px;
        align-items: center;
        margin-bottom: 50px;

        img {
            object-fit: contain;
            border-radius: 30%;
            width: 140px;
            height: 140px;
            transition: 0.2s;
        }
    }
}