/* blog page CSS*/

/*set paragraph size for mobile blog title*/

@media (max-width : 720px) {

    #entries__title {
        display: none;
    }
}

/* desktop blog grid*/
@media (min-width : 1200px) {
    .blog__grid {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 100px;
        margin-bottom: 50px;

        &-element {
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: 2fr 3fr;
            margin-right: 300px;
        }
    }
}

/* mobile blog grid*/
@media (max-width : 1200px) {
    .blog__grid {
        display: grid;
        gap: 100px;
        margin-top: 100px;
        margin-bottom: 50px;

        &-element {
            margin: 0px 30px 0px 30px;
            display: grid;
            grid-template-rows: 2fr;
            text-align: center;
        }
    }
}

.blog__grid-element-image-container {
    img {
        object-fit: cover;
    }

    /*text below the image (date)*/

    p {
        margin-top: 30px;
        font-size: 20px;
        text-align: center;

        span {
            color: #618afb;
        }
    }

   

}

/*set paragraph size for mobile blog title*/

@media (max-width : 720px) {

    .blog__grid-element-description h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

/*set paragraph size for desktop blog title*/

@media (min-width : 1200px) {

    .blog__grid-element-description h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
}

/* button effects */

.blog__grid-element-description {
    button {
        font-size: 15px;
        border-style: outset;
        border-color: #618afb;
        color: white;
        background-color: #232323;
        border-radius: 15px;
        margin-top: 20px;
        height: 50px;
        width: 150px;
        transition: ease 0.2s;

        &:hover {
            background-color: #006aff;
            width: 200px;
            opacity: 1;
            transition: ease 0.2s;

            &::after {
                content: "→";
                opacity: 1;
            }
        }
    }
}