/* blog page CSS*/

/* blog grid css */

.blog__grid {
    @include fadeInAnimation(1s, 0.3s);
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 50px;

    //
    &-element {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 2fr 3fr;
        margin-right: 300px;

        &-description {

            //set description title size

            h2 {
                font-size: 32px;
                margin-bottom: 15px;
            }

            p {
                text-align: start;
            }

            //set hover effect on description button

            button {
                &:hover::after {
                    transition: 1s;
                    content: "→";
                }
            }
        }

        &-image-container {

            img {
                object-fit: cover;
                border-radius: 5%;
            }

            //text below the image (date) css

            p {
                margin-top: 30px;
                font-size: 20px;
                text-align: center;

                span {
                    color: $secondaryColor;
                }
            }
        }
    }

    // mobile blog grid

    @media (max-width : 1200px) {

        &-element {
            //center element
            text-align: center;

            h2 {
                text-align: center;
            }

            grid-template-columns: 2fr;
            grid-template-rows: 2fr;
            margin: 0px 30px 0px 30px;

            &-description {

                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}

//Styles for blog pagination buttons
.pagination {
    
    .page-item {

        //extend for default a colors

        %defaultColors {
            color: white;
            background-color: $primaryColor;
            border-color: $primaryColor;
        }

        a {
            @extend %defaultColors;

            //style for disabled button
            &.disabled {
                a {
                    @extend %defaultColors;
                }
            }

            &:focus {
                color: white;
                border-color: $btnHoverColor;
                background-color: $btnHoverColor;
                box-shadow: 0px 0px;
            }

            &:hover {
                color: white;
                border-color: $btnGlowColor;
                background-color: $btnGlowColor;
            }
        }
    }
}