//define color variables

$titleColor : white;
$subtitleColor : white;
$paragraphColor : white;

$dividerColor : #272727;

//secondary color for general purpose

$primaryColor : #232323;
$secondaryColor : #006aff;
$boxShadowColor : #365582;
//button colors

$btnNormalColor : #232323;
$btnHoverColor : #006aff;
$btnGlowColor : rgba(51, 97, 153, 0.694);
