/*css reset*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*define website background*/

body {
    background-color: #232323;
}

/* define font faces */

@font-face {
    font-family: PTsans;
    src: url(../Src/Fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: Anuphan;
    src: url(../Src/Fonts/Anuphan.ttf);
}

/*set font for headers */
h1 {
    margin-bottom: 0px;
    font-family: PTsans;
    font-size: 20px;
    color: white;
    font-weight: 800;
}

h2 {
    margin-bottom: 0px;
    font-weight: 800;
    font-family: PTsans;
    font-size: 48px;
    color: white;
}

/* set font for paragraphs */
p {
    font-family: Anuphan;
    font-size: 22px;
    color: white;
}

/* Universal divider for all content separation */
.divider {
    height: 50px;
    background-color: #444444;
}

@media (min-width : 700px) {
    /* define navbar align and background for desktop*/

    .navbar__mobile-container {
        display: none;
    }

    .navbar__container {
        width: 100%;
        z-index: 1;
        position: fixed;
        display: flex;
        height: 60px;
        background-color: #242425;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 6px #000;
    }

    .navbar__elements ul {
        padding: 0px;
    }

    .navbar__elements ul {
        margin-bottom: 0px;
    }

    .navbar__elements li {

        display: inline-block;
        padding-left: 50px;
    }


    /* Nav bar elements setup */
    .navbar__elements a {
        font-family: Anuphan;
        vertical-align: middle;
        color: rgb(255, 255, 255);
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        align-items: center;
        transition: ease 0.2s;

    }

    .navbar__elements a:hover {
        transition: ease 0.2s;
        font-size: 22px;
        color: #006aff;
        text-decoration: none;

    }

}

/* define navbar align and background for mobile*/
@media (max-width : 700px) {

    .navbar__container {
        display: none;
    }

    .navbar__mobile-container {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #242425;
        box-shadow: 1px 1px 6px #000;
        height: 60px;
        align-items: center;
        z-index: 1;
    }

    .navbar__mobile-burgerMenu {
        margin-right: 20px;
        height: 30px;
        width: 30px;
    }

}



/* hero attributes*/

/* mobile hero view */
@media (max-width : 1200px) {
    .hero__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .hero__container-sideImage-container {
        display: none;
    }

}

@media (min-width : 1200px) {
    .hero__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 500px;
    }

    .hero__container-sideImage-container {
        background-repeat: no-repeat;
        background-size: cover;
        /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%,rgba(0, 0, 0, 0.7) 100%), url('../Src/Images/Dummy\ image.png');*/
        width: 50%;
        z-index: -1;
    }
}

.hero__container .hero__logo-container {

    margin: auto;

}

/* Main title size and position*/

.hero__container .hero__logo-container a {
    display: flex;
    justify-content: center;
}


.hero__container .hero__logo-container img {

    height: 200px;
}

.hero__container .hero__logo-container span {

    color: #71aaff;

}

.hero__container h1 {
    font-weight: bold;
    color: white;
    font-size: 36px;
    text-align: left;
}

/*setup a gradient for our side image */

/*carousel settings */

.carousel-inner img {
    object-fit: cover;
}

/* the following CSS defines the hero attributes for the other pages */

.hero__container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.hero__container-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero__container-image h1 {
    position: absolute;
    font-size: 60px;
    text-align: center;
}




/* made a class for centering text, I guess I can reuse this later*/
.centered__container-text {

    margin: 50px 20% 50px 20%;
    text-align: center;

}

.centered__container-text h2 {

    padding-bottom: 50px;

}

.centered__container-text button {
    font-size: 15px;
    border-style: outset;
    border-color: #618afb;
    color: white;
    background-color: #232323;
    border-radius: 15px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    transition: ease 0.2s;
}

.centered__container-text button:hover {
    width: 200px;
    height: 60px;
    background-color: #006aff;
    opacity: 1;
    transition: ease 0.2s;

}

/* skill section */

/* reusable centerable text*/
@media (min-width : 1200px) {

    .leftAligned__text h2 {

        margin-top: 50px;
        margin-left: 60px;
        font-size: 48px;
    }

}

/* mobile */
@media (max-width : 1200px) {

    .leftAligned__text {
        justify-content: center;
        display: flex;
    }

    .leftAligned__text h2 {

        margin-top: 50px;

        font-size: 48px;
    }

}

/* mobile app grid */
@media (max-width : 1200px) {
    .app__icons-grid {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        justify-items: center;
    }


    .app__icons-grid img {
        display: flex;
        object-fit: contain;
        width: 110px;
        height: 110px;
    }

}


/* desktop app grid */

@media (min-width : 1200px) {
    .app__icons-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin: auto;
        width: 800px;
    }


    .app__icons-grid img {
        object-fit: contain;
        width: 250px;
        height: 150px;
    }
}


/* footer  */

.footer {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #444444;
}

.footer h2 {
    margin-top: 50px;
    justify-content: center;
    font-size: 60px;
    text-align: center;
}

#footer__edge {
    position: absolute;
    display: flex;
    width: 20%;
    height: 2px;
    background-color: white;
}


/* projects page CSS */

/* mobile grid */

@media (max-width : 1200px) {
    .projects__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .projects__grid img {
        object-fit: cover;
        border-radius: 5%;
        width: 250px;
        height: 150px;
        transition: 0.2s;
    }

    .projects__grid p {
        display: inline-block;
        font-size: 15px;
        /*disable pointer events to prevent blinking effect*/
        pointer-events: none;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        word-break: break-all;
        transition: ease 0.2s;
    }
}

/* desktop grid */
@media (min-width : 1200px) {
    .projects__grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        justify-content: center;
        max-width: 40%;
        margin: 50px auto;
        gap: 50px;
    }

    .projects__grid img {
        object-fit: cover;
        border-radius: 5%;
        width: 400px;
        height: 250px;
        transition: 0.2s;
    }

    .projects__grid p {
        display: inline-block;
        font-size: 25px;
        /*disable pointer events to prevent blinking effect*/
        pointer-events: none;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        word-break: break-all;
        transition: ease 0.2s;
    }

    /* center the project grid item if it is alone*/
    .projects__grid :nth-last-child(1):nth-child(odd) {
        grid-column: 1 / span 4;
        justify-self: center;
    }
}

/* set out position to relative in order to center the text using absolute position*/
.projects__grid-image-container {
    position: relative;

}

.projects__grid img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 0px #365582;
}

/* sets the opacitiy of the p tag to 1 so it becomes visible*/
.projects__grid img:hover+p {
    background-color: rgba(12, 12, 12, 0.805);
    transition: ease 0.2s;
    opacity: 1;
}

/* about me page CSS */

#name {
    margin-bottom: -50px;
}

#info__paragraph p {
    margin: -40px 5% 100px 5%;
    text-align: center;
}

.about__grid {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}


/* desktop about  grid*/
@media (min-width : 1200px) {

    .about__grid img {
        object-fit: contain;
        border-radius: 30%;
        width: 400px;
        height: 400px;
        transition: 0.2s;
        margin-bottom: 50px;
    }

}

/* mobile about  grid*/
@media (max-width : 1200px) {

    .about__grid {
        gap: 30px;

        align-items: center;
        margin-bottom: 50px;
    }

    .about__grid img {
        object-fit: contain;
        border-radius: 30%;
        width: 140px;
        height: 140px;
        transition: 0.2s;

    }

}



/* blog page CSS*/


/* desktop blog grid*/
@media (min-width : 1200px) {
    .blog__grid {
        display: grid;
        grid-row: repeat(5, 1fr);
        gap: 100px;
        margin-top: 100px;
        margin-bottom: 50px;
    }


    .blog__grid-element {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 2fr 3fr;
        margin-right: 300px;
    }
}

/* mobile blog grid*/
@media (max-width : 1200px) {
    .blog__grid {
        display: grid;
        grid-column: repeat(1, 1fr);
        gap: 100px;
        margin-top: 100px;
        margin-bottom: 50px;
    }


    .blog__grid-element {
        margin: 0px 30px 0px 30px;
        display: grid;
        grid-template-rows: 2fr;
        text-align: center;
    }
}


.blog__grid-element-image-container img {
    object-fit: cover;
}

/*text below the image (date)*/
.blog__grid-element-image-container p {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.blog__grid-element-image-container span {
    color: #618afb;
}

.blog__grid-element-description button {
    font-size: 15px;
    border-style: outset;
    border-color: #618afb;
    color: white;
    background-color: #232323;
    border-radius: 15px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    transition: ease 0.2s;
}

.blog__grid-element-description h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

/* button effects */

.blog__grid-element-description button:hover {
    background-color: #006aff;
    width: 200px;
    opacity: 1;
    transition: ease 0.2s;
}

.blog__grid-element-description button::after {

    opacity: 0;
    transition: ease 0.2s;

}

.blog__grid-element-description button:hover::after {
    content: "→";
    opacity: 1;
}

.btn-group {
    margin: auto;
}

.btn-primary {
    border-width: 0px;
    background-color: #365582;
    margin: 20px;
    margin-bottom: 100px;
}

.slim__divider {
    margin: auto;
    border-radius: 50px;
    height: 1px;
    width: 80%;
    background-color: #006aff;
}



/* contact page CSS */

/*mobile contact form*/

@media (max-width: 1024px) {

    .contact__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-content: center;
    }
}

/*desktop contact form*/
@media (min-width: 1024px) {
    .contact__form-container {
        display: flex;
        justify-content: center;
        gap: 500px;
        align-content: center;
    }

}

.contact__form-container h2 {
    margin-top: 50px;
    margin-left: 60px;
    font-size: 48px;
}

/* the tab on right side for contact details*/
.contact__form-div {
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

/* center the content inside the conctact form card*/
.contact__form-wrapper {
    display: flex;
}

.contact__form-div .contact__form-background {
    border-radius: 3px;
    background-color: #606060;
    height: 350px;
    width: 600px;
    margin-bottom: 50px;
}


.contact__form-div h2 {
    font-size: 30px;
}

.contact__form-div input {
    display: block;
    width: 80%;
    height: 35px;
    margin-top: 30px;
    margin-left: 50px;
    border-color: #618afb;
}

.contact__form-div textarea {
    display: block;
    width: 80%;
    height: 70px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    border-color: #618afb;
}


.contact__form-logo {
    position: relative;

}

.contact__form-logo img {

    object-fit: contain;
    width: 400px;
    height: 400px;
}